@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(217, 54%, 11%);
  min-height: 100vh;
  display: grid;
  place-items: center;
  color: hsl(215, 51%, 70%);
}

.card {
  max-width: 375px;
  background-color: hsl(216, 50%, 16%);
  padding: 2rem;
  border-radius: 0.75rem;
}

.card__image {
  max-width: 100%;
  border-radius: 0.5rem;
}

.card__title {
  color: hsl(0, 0%, 100%);
}

.card__description {
  font-weight: 300;
}

.card__details {
  display: flex;
  justify-content: space-between;
}

.ethereum {
  display: flex;
}

.time {
  display: flex;
}

.card__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.card__profile-picture {
  width: 40px;
  border: 1px solid white;
  border-radius: 50%;
}