* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background: #674BB1;
  background-image: url(./images/bg-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
  text-align: center;
  color: white;
}

img {
  max-width: 100%;
}

.logo {
  width: 150px;
}